/********** reset css start **********/
/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain)*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********** reset css end **********/

/********** project start **********/
/********** overall css start **********/
:root,
:root::before,
:root::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

img {
	object-fit: cover;
}

/********** overall css end **********/

/********** aside(dashboard) section css start **********/
aside {
	background-color: #1993d3;
	grid-column: 1 / 2;
	display: grid;
	grid-template-rows: 100px 400px 200px;
	align-items: center;
}

aside section ul {
	display: grid;
	gap: 10px;
	grid-template-columns: 50px 1fr;
	align-items: center;
}

aside ul li {
	color: #ffffff;
	font-weight: 500;
	font-size: 1.2rem;
	padding: 10px 0;
}

aside ul li:nth-child(n) {
	justify-self: center;
	margin-left: 20px;
}

aside ul li:nth-child(2n) {
	justify-self: start;
	margin-left: 10px;
}

aside ul li > img {
	width: 24px;
}

.dashboard {
	font-size: 2rem;
}

.dashboard > img {
	width: 40px;
}

/********** aside(dashboard) section css end **********/

/********** main section css start **********/
main {
	background-color: #e2e9f0;
	grid-column: 2 / 5;
	display: grid;
	grid-template-rows: 200px 1fr;
}

/********** header section css start **********/
header {
	background-color: #ffffff;
	box-shadow: -4px 6px 10px -4px rgba(163, 160, 160, 1);
	-webkit-box-shadow: -4px 6px 10px -4px rgba(163, 160, 160, 1);
	-moz-box-shadow: -4px 6px 10px -4px rgba(163, 160, 160, 1);
	display: grid;
	grid-template-rows: repeat(100px, 1fr);
	align-items: center;
	padding: 0 50px;
}

header section ul {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-flow: column;
	align-items: center;
	gap: 25px;
}

header section ul h2 {
	font-weight: bold;
	font-size: 1.1rem;
}

.search,
.morgan.section {
	display: flex;
	align-items: center;
	gap: 20px;
	width: 100%;
}

.search img {
	width: 24px;
}

.search input {
	width: 80%;
	border-radius: 20px;
	outline: none;
	border: none;
	background-color: #e2e9f0;
	padding: 10px;
}

.morgan {
	width: 48px;
}

.morgan.big {
	width: 72px;
}

.morgan.big + div {
	font-weight: bold;
}

.morgan.big + div p {
	font-size: 0.8rem;
	line-height: 1.5rem;
}

.morgan.big + div h1 {
	font-size: 1.5rem;
}

button {
	cursor: pointer;
	font-size: 1rem;
	border: 1px solid #1993d3;
	background-color: #1993d3;
	color: #ffffff;
	padding: 10px 30px;
	border-radius: 20px;
	margin-left: 10px;
	box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.14) inset;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.14) inset;
	-moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.14) inset;
}
/********** header section css end **********/

/********** cards section css start **********/
.cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 20px;
}

.cards > * {
	border: 1px solid crimson;
}

.projects {
	grid-column: span 2;
	grid-row: span 2;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	gap: 30px;
	padding: 20px;
	align-items: center;
}

.projects > h2 {
	font-weight: 500;
	font-size: 1.2rem;
	grid-column: 1 / -1;
}

.project {
	height: 200px;
	border-radius: 10px;
	border-left: 10px solid #f0b42a;
	background-color: #ffffff;
	box-shadow: -4px 6px 10px -4px rgba(163, 160, 160, 1);
	-webkit-box-shadow: -4px 6px 10px -4px rgba(163, 160, 160, 1);
	-moz-box-shadow: -4px 6px 10px -4px rgba(163, 160, 160, 1);
	display: grid;
	align-items: center;
	padding: 20px;
}

.project > h2 {
	font-weight: 600;
}

.project > p {
	color: #747474;
}

.icons {
	text-align: end;
}

.icons > img {
	width: 20px;
	padding: 0 10px;
}

.announcements {
	padding: 20px;
	display: grid;
	grid-template-rows: 50px 1fr;
}

.announcements > h2 {
	font-weight: 500;
	font-size: 1.2rem;
}

.announcement {
	height: 90%;
	background-color: #ffffff;
	box-shadow: -4px 6px 10px -4px rgba(163, 160, 160, 1);
	-webkit-box-shadow: -4px 6px 10px -4px rgba(163, 160, 160, 1);
	-moz-box-shadow: -4px 6px 10px -4px rgba(163, 160, 160, 1);
	padding: 20px;
	border-radius: 10px;
	display: grid;
	gap: 10px;
}

.announcement-card {
	border-bottom: 1px solid silver;
	padding: 10px 0;
}

.announcement-card h5 {
	font-weight: 600;
	font-size: 0.9rem;
	line-height: 1.2rem;
}

.announcement-card p {
	color: #747474;
	font-size: 0.8rem;
}

/********** cards section css end **********/

/********** main section css end **********/
/********** project end **********/
